# Ignorar arquivos e diretórios do Visual Studio Code
.vscode/
*.code-workspace

# Ignorar arquivos de build
/build/
*.o
*.out
*.exe

# Ignorar arquivos de logs e temporários
*.log
*.tmp
*.swp

# Ignorar arquivos de configuração de ambientes de desenvolvimento
ConcSyncSo.dev
ConcSyncSo.layout

# Ignorar caches do sistema e temporários
.DS_Store
Thumbs.db

# Ignorar arquivos de dependências e binários gerados
bin/
obj/

# Ignorar CMake artefacts (se você usar CMake)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Arquivos de compilação automáticos
*.d
